body{
    background-image:url('../../images/pdv_bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    background-color:#2a9df4;
}

body,.input-group-text,.btn,.form-control{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.input-group-text{
    width:45px;
}

.span-login, .btn-login, .swal2-confirm{
    text-shadow: 1px 1px silver !important; 
    background-color:#2a9df4 !important;
}

.div-login{
    max-width: 30%; 
    margin-top:11%; 
    background-color:#FFEFD5cc;
}

.a-cad{
    text-decoration:none; 
    text-shadow: 1px 1px silver;
}

.fa-size{
    text-align:center !important;
    width:27px !important;
    height:20px !important;
}

.btn-login{
    height:48px !important;
    width:48px !important;
}

.swal2-html-container,.swal2-title{
    font-size: 14px !important;
}

@media (max-width:768px){
    .div-login{
        max-width:80% !important;
    }

 }
