body{
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    background: #232526cc; 
    background: -webkit-linear-gradient(to right, #414345, #232526cc);  
    background: linear-gradient(to right, #414345, #232526cc); 
}

body,.input-group-text,.btn,.form-control{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.input-group-text{
    width:45px;
}

.span-login, .btn-login, .swal2-confirm{
    text-shadow: 1px 1px silver !important; 
    background-color:#2a9df4 !important;
}

.div-login{
    max-width: 30%; 
    margin-top:11%; 
    background: #D3CCE3cc;  
    background: -webkit-linear-gradient(to right, #E9E4F0cc, #D3CCE3cc);  
    background: linear-gradient(to right, #E9E4F0cc, #D3CCE3cc); 
}

.modal-dialog,.modal-content,.modal-header,.modal-footer{
    background: #D3CCE3cc;  
    background: -webkit-linear-gradient(to right, #E9E4F0cc, #D3CCE3cc);  
    background: linear-gradient(to right, #E9E4F0cc, #D3CCE3cc); 
}

.a-cad{
    text-decoration:none; 
    text-shadow: 1px 1px silver;
}

.fa-size{
    text-align:center !important;
    width:27px !important;
    height:20px !important;
}

.btn-login{
    height:48px !important;
    width:48px !important;
}

.btn-fechar{
    background-color: #FF5733;
}

.swal2-html-container,.swal2-title{
    font-size: 14px !important;
}

#img-cad{
    max-width: 50%;
    max-height:50%;
}

@media (max-width:768px){
    .div-login{
        max-width:80% !important;
    }

 }
